<a href="https://colab.research.google.com/github/Beta628427/CIS/blob/master/Clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importamos lib de acceso a drive y damos acceso al drive
# https://gspread.readthedocs.io/en/latest/
import gspread
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [2]:
gc.create("DATASET1")

In [5]:
# Variables.

x = 10
y = 10.5
z = False
r = [] # arreglo
k = {"":[]}
s = "sfdhsdtj"

print(type(x))
print(type(y))
print(type(z))
print(type(r))
print(type(k))
print(type(s))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'str'>

# ciclo If

In [15]:
# ciclos 
# condiciones
# ==
# < OR >
# >= OR <=
# !=

a = "55"
b = 55

# if
if (a == str(b)):
  print("Si es igual")
else:
  print("no es igiual")

Si es igual

In [16]:
c = ["Beta", "Nicolas", "Cruz", "Rico"]

# for
for i in c:
  print(i)

Beta
Nicolas
Cruz
Rico

# ciclo For

In [17]:
# gsdfgsdfhsdh
for i in range(5):
  print(i)

0
1
2
3
4

In [19]:
for i in range(10,16):
  print(i)

10
11
12
13
14
15

# ciclo While

In [0]:
i = 0
while(True):
  i += 1
  print(i)

In [25]:
i = 0
while(i < 10):
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

# Librerias fundamentales de python

In [0]:
# NumPy es el paquete fundamental para la computación científica con Python
import numpy as np 
# pandas es una herramienta de análisis y manipulación de datos de código 
# abierto rápida, potente, flexible y fácil de usar
import pandas as pd
# Graficar
import matplotlib.pyplot as plt

# Var Dicc

In [31]:
dcc = {"t1":{'t11':['t3_1', 't3_2', 't3_3'],
             't12':['t3_1', 't3_2', 't3_3'],
             't13':['t3_1', 't3_2', 't3_3'],
             't14':['t3_1', 't3_2', 't3_3']},
       "t2":{'t21':['t3_1', 't3_2', 't3_3'],
             't22':['t3_1', 't3_2', 't3_3'],
             't23':['t3_1', 't3_2', 't3_3'],
             't24':['t3_1', 't3_2', 't3_3']},
       "t3":{'t31':['t3_1', 't3_2', 't3_3'],
             't32':['t3_1', 't3_2', 't3_3'],
             't33':['t3_1', 't3_2', 't3_3'],
             't34':['t3_1', 't3_2', 't3_3']},
       "t4":{'t41':['t3_1', 't3_2', 't3_3'],
             't42':['t3_1', 't3_2', 't3_3'],
             't43':['t3_1', 't3_2', 't3_3'],
             't44':['t3_1', 't3_2', 't3_3']}
       }

dcc['t3']

{'t31': ['t3_1', 't3_2', 't3_3'],
 't32': ['t3_1', 't3_2', 't3_3'],
 't33': ['t3_1', 't3_2', 't3_3'],
 't34': ['t3_1', 't3_2', 't3_3']}

In [34]:
pd.DataFrame(dcc)

                     t1  ...                  t4
t11  [t3_1, t3_2, t3_3]  ...                 NaN
t12  [t3_1, t3_2, t3_3]  ...                 NaN
t13  [t3_1, t3_2, t3_3]  ...                 NaN
t14  [t3_1, t3_2, t3_3]  ...                 NaN
t21                 NaN  ...                 NaN
t22                 NaN  ...                 NaN
t23                 NaN  ...                 NaN
t24                 NaN  ...                 NaN
t31                 NaN  ...                 NaN
t32                 NaN  ...                 NaN
t33                 NaN  ...                 NaN
t34                 NaN  ...                 NaN
t41                 NaN  ...  [t3_1, t3_2, t3_3]
t42                 NaN  ...  [t3_1, t3_2, t3_3]
t43                 NaN  ...  [t3_1, t3_2, t3_3]
t44                 NaN  ...  [t3_1, t3_2, t3_3]

[16 rows x 4 columns]

In [51]:
pd.DataFrame(dcc['t2']['t21'])

      0
0  t3_1
1  t3_2
2  t3_3

In [55]:
pd.DataFrame(dcc['t2']['t21']).iloc[0]

0    t3_1
Name: 0, dtype: object

In [45]:
pd.DataFrame(dcc['t2']['t21'][:1])

      0
0  t3_1

In [48]:
pd.DataFrame(dcc['t2']['t21'][1:])

      0
0  t3_2
1  t3_3